/* start global rules */
:root{
    --main-color:#19c8fa;
    --secondary-color:rgb(15 116 143 / 70% );
    --section-padding:100px;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */
/* start componetons */
.section{
    padding: 100px;
}
.main-heading{
    text-align: center;
}
.main-heading h2{
    margin-bottom: 70px;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before{
    content: "";
    width: 130px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: #333;
    bottom: -30px;
}
.main-heading h2::after{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #333;
    bottom: -38px;
    background-color: white;
}
.main-heading p{
    color: #777;
    max-width: 440px;
    margin: 0 auto 100px;
    line-height: 1.5;
}
/* end componetons */
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78.8px;
    position:relative;
}
header .container::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0px;
    left: 32px;
}
header .logo img{
    height: 60px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
header nav .toggle-mune{
    /* position: relative; */
    color: white;
    font-size: 22px;
    /* top: 3px; */
}
header nav .toggle-mune:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    margin-top: 50px;
    background-color :rgb(0 0 0 / 65%)
}
@media (min-width: 992px){
    header nav .toggle-mune{
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media(max-width: 992px){
    header nav ul{
        display: none;
    }
}
header nav ul li a{
    text-decoration: none;
    font-size: 15px;
    display:block;
    color:white;
    text-decoration: none;
    padding: 30px 20px;
    position: relative;
    z-index: 3;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header nav .form {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form i{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* End header */
/* start landing */
.landing{
    background-size: cover;
    background-image: url(../image/412685106.jpg);
    min-height:100vh;
    position: relative;
}
.landing .overly{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    background-color: rgb(0 0 0 / 65%);
}
.landing .overly .text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 50%;
    background-color:var(--secondary-color);
    padding: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 768px) {
    .landing .overly .text{
        width: 100%;
    }
    .landing .background {
        display: none;
    }
}
.landing .contect {
    max-width: 500px;
}
.landing .contect h2{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 28px;
}
.landing .contect p{
    line-height: 1.5;
    font-size: 14px;
}
.landing .background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 30px;
    color: white;

}
.landing .right{
    right: 30px;
}
.landing .left{
    left: 30px;
}
.landing .bulltes{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bulltes li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 10px;
}
.landing .bulltes  .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin: 0 auto;
}
.services .services-container{
}
@media (min-width: 768px){
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(2, minmax(340px, 1fr));
        grid-gap: 40px;
    }
}
@media (max-width: 767px){
    .services .srv-box{
        display: flex;
    flex-direction: column;
    text-align: center;

    }
    .services .services-container .srv-box i{
        margin: 25px 0;
    }
    .services .services-container .srv-box .text{
        margin: 0;
    }
}
.services .srv-box {
    display: flex;
}
.services .srv-box i{

}
.services .text{
margin-left: 50px;
}
.services .text h3{
color: var(--main-color);
margin-bottom: 30px;
}
.services .text p{
    line-height: 1.5;
    color: #777;
}
/* end services */
/* start design */
.design::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 65%);
}
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/background-design-1.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
}
.design .image,
.design .text{
    position: relative;
    flex: 1;
}

.design .image{
    text-align: center;
    bottom: -120px;

}
.design .image img{
    width: 470px;
    height: 350px;
    margin-right: -230px;
}
@media (max-width:992px){
    .design .image{
        display: none;
    }
}
.design .text{
    color: white;
    padding: 50px;
    background-color: var(--secondary-color);
    margin-left: 360px;
}
@media (max-width:992px){
    .design .text{
        margin-left: 0;
    }
}
.design .text h3{
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 28px;
}
.design .text ul{

} 
.design .text li{
    padding: 15px 0;
}
.design .text li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 15px;
    position: relative;
    bottom: -1px;
}
/* end design */
/* srtart portofilo */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio .shuffle ul li {
    padding: 10px 20px;
    border: 1px solid;
    border-color: transparent;
}
.portfolio .shuffle ul li:hover{
    background-color: var(--main-color);
}
.portfolio .shuffle ul .all{
    background-color:var(--main-color);
}
.portfolio .imags-container{
display: flex;
flex-wrap: wrap;
margin-top: 50px;
}
.portfolio .imags-container .box{

}
@media (min-width: 768px) {
    .portfolio .imags-container .box{
        flex-basis: 50%;
    }
    .portfolio .imags-container .box img{
        height: 380px;
    }
}
@media (min-width: 1199px) {
    .portfolio .imags-container .box{
        flex-basis: 25%;
    }
    .portfolio .imags-container .box img{
        height: 220px;
    }
}
.portfolio .imags-container .box img{
max-width: 100%;
}
.portfolio .imags-container .box .cabtion {

}

/* end portofilo */